# URL encode special characters in the user name or password.
DATABASE_URL=postgresql://app_user:change_me@your-rds-endpoint.ap-northeast-1.rds.amazonaws.com:5432/team_empo
DATABASE_SSL=true
DATABASE_SSL_REJECT_UNAUTHORIZED=true
CORS_ORIGIN=https://example.com
WEB_PORT=80
